.guaranteesContent {
    margin: 0 auto;
    width: 100%;
    padding: 0px 100px 0px;
    margin-bottom: 10px;
    font-family: var(--font-roboto);
    color: black;
    font-size: 16px !important;
  }
  
  .guaranteesContent > :nth-child(3) {
    margin-top: 15px;
  }
  .guaranteesContent {
    padding-top: 20px;
  }
  
  .guaranteesContent h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    display: flex;
  }
  
  .guaranteesTitle {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .guaranteesTitle::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #E5E5E5;
  }
  
  .guaranteesContent h2,
  .guaranteesContent p {
    margin-bottom: 30px;
    
  }