.contacts-container {
    margin: 0 auto;
    width: 1240px;
    padding-bottom: 20px;

a {
        text-decoration: none;
        color: inherit;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }

    .contacts-divider {
        width: 2px;
        height: 380px;
        background-color: rgba(129, 129, 129, 0.2);
        margin: 0 85px 0 40px;
    }

    h1 {
        font-family: var(--font-roboto);
        font-size: 22px;
        font-weight: 500;
        line-height: 1.4;
        color: #2d2a2a;
        margin: 0;
    }

    .title-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .divider {
        width: 372px;
        height: 1px;
        background-color: rgba(129, 129, 129, 0.2);
    }
}
