@mixin color{
    --black:rgba(0, 0, 0, 0.05);
    --sea-blue:#144b7a;
    --blue:#0e4ed2;
    --light-blue:#4678de;
    --white-blue:#3585ad;
    --gray:#555;
    --soft-blue:#0056b3;
    --dark-blue:#273C66;
    --white:#ddd;
    --orange:#FF5C05;
    --lie-blue:#0E4ED2;
    --light-green:#00CE18;
    --red:#FF0025E5;
    --com-white:#ffffff;
    --dark-gray:#333;
    --soft-white:#ccc;
    --real-gray:rgb(128, 128, 128);
    --once-white:#f8f9fa;
}