.cartPage {
    margin: 0 auto;
    width: 100%;
    padding: 20px 7vw 45px;
    margin-bottom: 10px;
    font-family: var(--font-montserrat);
    color: black;
    font-size: 16px;
  }
  
  .cartPage h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .cartContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .formSection {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    background: #fff;
  }
  
  .formGroup h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  
  .formGroup label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .formGroup input,.formGroup select {
    width: 100%;
    padding: 15px;
    padding-left: 35px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
  }
  .formGroup select{
    width: 100%;
    padding: 15px;
    padding-right: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .formGroup button {
    background: rgba(14, 78, 210, 1);
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  
  .formGroup button:hover {
    background: #0056b3;
  }
  
  .itemsSection {
    display: flex;
    flex-direction: column;
    width: 62%;
    gap: 25px;
  }
  
  .cartItem {
    display: flex;
    background: #fff;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(228, 231, 233, 1);
  }
  
  .cartItemImage {
    width: 220px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 20px;
  }
  
  .cartItemDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cartItemLot {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
  }
  
  .cartItemDescription {
    font-size: 18px;
    margin-bottom: 5px;
    max-width: 400px;
  }
  .cartItemDetailsTextWrapper{
    display:flex;
    flex-direction: column;
    gap: 15px;
  }
  .cartItemPrice {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .removeButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 20px;
    transition: color 0.2s ease;
  }
  
  .removeButton:hover {
    color: #ff0000;
  }
  
  /* Адаптація для мобільних */
  @media (max-width: 768px) {
    .cartContainer {
      flex-direction: column;
    }
  
    .cartItemImage {
      width: 80px;
      height: 80px;
    }
  }