* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-montserrat), sans-serif;
  box-sizing: border-box;
  text-align: justify;
}
main {
  min-height: 50vh;
}
p{
  text-align: justify;
}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
@mixin responsive-width {
  margin: 0 auto;
  @media (min-width: 1024px) {
    width: 85%;
  }

  @media (max-width: 1023px) and (min-width: 768px) {
    width: 90%;
  }

  @media (max-width: 767px) {
    width: 95%;
  }
}
