@import '../../mixins/color.scss';
.footer {
  @include color();
  background-color: var(--once-white);
  font-family: Arial, sans-serif;
  border-top: 30px solid var(--dark-blue);//color #27...

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
    // Відступи контейнера
    padding-left: calc(55% / 3);  
    padding-right: calc(15% / 3); 

    // Основне тіло колон
    .column {
      flex: 1;
      border-right: 1px solid var(--real-gray);
      border-left: 1px solid var(--real-gray);
      padding: 40px 20px; 

      h4 {
        color: var(--dark-blue);
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 8px;
          cursor: pointer;
          color: var(--dark-gray);
          transition: color 0.3s;

          &:hover {
            color: var(--soft-blue);
          }
        }
      }

      p {
        font-size: 14px;
        color: var(--gray);
      }

      input[type="email"] {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--soft-white);
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        input {
          margin-right: 5px;
          transform: scale(1.5);
          
        }

        label {
          font-size: 13px;
          margin-left: 10px;
          color: var(--dark-blue);
        }
      }
      .Regul {
        display: block;
        margin-bottom: 10px;
        color: var(--dark-blue);
        text-decoration: underline;
        cursor: pointer;
        font-size: 13px;
        
      }

      .subscribeButton {
        width: 100%;
        background-color: var(--dark-blue);
        color: var(--white);
        border: none;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: var(--soft-blue);
        }
      }
    }
  }

  .bottom {
    font-family: Roboto;//Roboto - Font (Vs-basic font)
    display: flex;
    justify-content: space-between;
    padding: 0 4.5vw;
    font-size: 14px;
    color: var(--gray);
    border-top: 1px solid var(--white);

    a{
      text-decoration: none;
      color: var(--dark-gray);
      cursor: pointer;
    }
    b{
      margin-right: 30px;
    }
  }

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    border: none;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
}
}
