.language-switch {
    position: relative;
    width: 125px;
    height: 40px;
    background-color: rgba(53, 133, 173, 0.4);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-roboto);
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    .label {
        position: absolute;
        right: 20px;
        color: white;
    }

    .toggle {
        position: absolute;
        width: 65px;
        height: 40px;
        background-color: #3585ad;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: transform 0.3s ease;
        color: white;
    }

    .left {
        transform: translateX(-45%);
    }

    .right {
        transform: translateX(45%);
    }
}