/* Общие стили */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 344px;

    .title-container {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
                font-weight: 600;
                font-size: 16px;
                line-height: 1.9;
        }

        .divider {
            min-width: 228px;
            height: 1px;
            background-color: rgba(129, 129, 129, 0.2);
        }
    }

    form {
        margin-bottom: 20px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }

    .inputs-container {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    label {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.6;
        color: rgba(70, 70, 70, 1)
    }

    input {
        border: 2px solid rgba(129, 129, 129, 0.2);
        border-radius: 8px;
        min-width: 324px;
        height: 38px;
        font-size: 16px;
        padding: 0 8px;
    }

    textarea {
        border: 2px solid rgba(129, 129, 129, 0.2);
        border-radius: 8px;
        font-size: 16px;
        margin-top: 8px;
        padding: 8px;
        height: 190px;
        resize: none;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    .message-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    button {
        font-weight: 600;
        font-size: 13px;
        line-height: 1.38462;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
        background-color: rgba(243, 243, 243, 1);
        color: rgba(62, 62, 62, 1);
        border-radius: 24px;
        width: 117px;
        height: 42px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .error-message {
        color: red;
        font-size: 12px;
    }

    .success-message {
        color: green;
        font-size: 16px;
        text-align: center;
    }
}